<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Roles</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Lista de Participantes</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="rol : ${roles}">
                <td th:text="${rol.Id}"></td>
                <td th:text="${rol.Nombre}"></td>
                <td th:text="${rol.Descripcion}"></td>
                <td th:text="${rol.Activo}"></td>
                <td>
                    <a th:href="@{/roles/editar/{id}(id=${rol.Id})}">Editar</a>
                    <a th:href="@{/roles/eliminar/{id}(id=${rol.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/roles/nuevo">Nueva Persona</a>
</body>
</html>