        <div class="Pie" th:fragment="footer">
                    <div class="Pie_contenido_left">
                        <p>
                            Copyright Digital Solutions ©<br>
                            Bogotá Colombia-2025<br>
                            www.dgsolutions.com.co
                        <P>
                    </div>
                    <div class="Pie_contenido_rigth">
                            <p>
                                Calle 95 # 9-35<br>
                                Teléfonos: (601 9477899)<br> 
                                Email: Info@dgsolutions.com.co
                            <P>
                    </div>
        </div>